


* {
  box-sizing: border-box;
}

body {
margin: 0;
background: no-repeat center center fixed;
background-size: cover;
color: white;
font-family: Arial, Helvetica, sans-serif;
text-shadow: 0px 0px 20px #242424;

}

.container {
  
    width: 80%;
   margin: 10% auto;
   background-color: darkslateblue;
   border-radius: 25px;

}

.city {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(108, 172, 172);
  height: 80px;
  font-size: 25px;
  padding: 0% 10px;
  border-radius: 25px 25px 0px 0px;
}

.weather {
  display: flex;
  justify-content: space-between;
  padding: 0% 10px;
}

.background {
  display: flex;
  background-size: cover;
  flex-direction: column;
  min-height: 100vh;
}
